
// Body
$body-bg: #333;

// Containers
// $container-large-desktop: 1640px;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
$border-radius-base: 0;

// Brands
$brand-primary: #c0c0c0;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 18px;
$line-height-base: 1.6;
$text-color: #fff;

// Links
$link-color: #fff;
$link-hover-decoration: none;

// Buttons
$btn-primary-color: invert($text-color);
$btn-primary-bg: $text-color;

$btn-default-color: $text-color;
$btn-default-bg: invert($text-color);
$btn-default-border: $btn-default-bg;

// Inputs
$input-color: #fff;
$input-bg: #000;
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: transparent;
$panel-bg: transparent;

// Tables
$table-bg: invert($text-color);
$table-bg-accent: lighten($table-bg, 15%);
$table-bg-hover: lighten($table-bg, 25%);

// Pagination
$pagination-bg: invert($text-color);
$pagination-border: $pagination-bg;

$pagination-active-bg: lighten($pagination-bg, 15%);
$pagination-active-border: $pagination-active-bg;

$pagination-hover-bg: lighten($table-bg, 25%);
$pagination-hover-border: $pagination-hover-bg;

$pagination-disabled-bg: $pagination-bg;
$pagination-disabled-border: $pagination-disabled-bg;
